### Import Pandas DataFrame

In [1]:
import pandas as pd

### Load dataset

In [2]:
# Load dataset Iris Unclean
df = pd.read_csv('iris_unclean.csv')

In [3]:
# Tampilkan dataset
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              NaN           3.5            1.4           0.2     Iris-setosa
1              4.9        2000.0            1.4           0.2     Iris-setosa
2              4.7           3.2           -1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
# Hitung jumlah nilai null pada dataset
df.isna().sum()

SepalLengthCm    2
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

### Handle Missing Value dengan Imutasi Mean

Imutasi adalah penanganan missing data yang paling bijak daripada membuang sebagian observasi atau variabel yang mengandung missing value, mengingat bahwa data sangat mahal dan berharga.

Sebelumnya terlihat bahwa ada 2 data yang hilang pada SepalLengthCm.

In [5]:
# Cari nilai mean dari SepalLengthCm 
df['SepalLengthCm'].mean()

5.856756756756757

In [6]:
# Mengganti missing data dengan value maean(), kemudian masukkan ke variabel.
dfDatabaru = df['SepalLengthCm'].fillna(df['SepalLengthCm']).mean()

In [7]:
# Cek data
dfDatabaru

5.856756756756757

In [8]:
# Gabung data baru menjadi DataFrame
df2 = pd.DataFrame({'SepalLengthCm' : dfDatabaru, 'SepalWidthCm' : df['SepalWidthCm'],
                    'PetalLengthCm' : df['PetalLengthCm'], 'PetalWidthCm' : df['PetalWidthCm'],
                    'Species' : df['Species']})
df2

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0         5.856757           3.5            1.4           0.2     Iris-setosa
1         5.856757        2000.0            1.4           0.2     Iris-setosa
2         5.856757           3.2           -1.3           0.2     Iris-setosa
3         5.856757           3.1            1.5           0.2     Iris-setosa
4         5.856757           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145       5.856757           3.0            5.2           2.3  Iris-virginica
146       5.856757           2.5            5.0           1.9  Iris-virginica
147       5.856757           3.0            5.2           2.0  Iris-virginica
148       5.856757           3.4            5.4           2.3  Iris-virginica
149       5.856757           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [9]:
# Cek jumlah dan baris kolom
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [10]:
# Hitung jumlah nilai null pada DataFrame baru
df2.isna().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64